@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');

.content {
    width: 975px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
}

.header {
    background-color: blue;
    color: #fff;
    padding: 5px;
}

.header__heading {
    margin: 0;
}

.main {
    width: 400px;
    margin: 0 auto;
}

.form__heading {
    text-align: center;
    font-size: 30px;
    margin: 5px 0;
    text-shadow: 1px 1px 0 #eee;
}

.form__fieldset {
    border-radius: 10px;
    box-shadow: 1px 1px 0 blue;
}

.required:after {
    content: ' *';
}

.form__row {
    margin: 10px 0;
}

input[required],
textarea[required] {
    border: 1px solid red;
}

.form__buttons {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.form__submit-button {
    margin-right: 10px;
}

.footer {
    text-align: center;
    background-color: blue;
    padding: 10px;
    color: #fff;
}

.footer__copyright {
    margin: 0;
}
